# IDE
.idea/
.vscode/
*.iws
*.iml
*.ipr

# Build
target/
build/
.mvn/wrapper/maven-wrapper.jar
bin/

# OS
.DS_Store
Thumbs.db
ehthumbs.db

# Environment
.env
.env.local
.env.*.local

### Ignore Backend Source Folders ###
 

### Ignore Specific Config Files (if you want to be more precise) ###
src/main/java/com/example/ocean_view_backend/config/AuthTokenFilter.java
src/main/java/com/example/ocean_view_backend/config/CorsConfig.java
src/main/java/com/example/ocean_view_backend/config/JwtUtils.java
 
src/main/java/com/example/ocean_view_backend/config/UserDetailsServiceImpl.java

### Ignore Resources ###
src/main/resources/application*.properties
src/main/resources/application*.yml
src/main/resources/*.properties
!src/main/resources/application-sample.properties

C:\Users\ASUS Vivbook\Desktop\Resort\sudarshika\ocean-view-backend\src\main\java\com\example\ocean_view_backend\controller
C:\Users\ASUS Vivbook\Desktop\Resort\sudarshika\ocean-view-backend\src\main\java\com\example\ocean_view_backend\controller\AuthController.java
C:\Users\ASUS Vivbook\Desktop\Resort\sudarshika\ocean-view-backend\src\main\java\com\example\ocean_view_backend\controller\ReservationController.java
C:\Users\ASUS Vivbook\Desktop\Resort\sudarshika\ocean-view-backend\src\main\java\com\example\ocean_view_backend\controller\RoomController.java
C:\Users\ASUS Vivbook\Desktop\Resort\sudarshika\ocean-view-backend\src\main\java\com\example\ocean_view_backend\controller\UserController.java

C:\Users\ASUS Vivbook\Desktop\Resort\sudarshika\ocean-view-backend\src\main\java\com\example\ocean_view_backend\dto\response\JwtResponse.java
C:\Users\ASUS Vivbook\Desktop\Resort\sudarshika\ocean-view-backend\src\main\java\com\example\ocean_view_backend\dto\response\ReservationResponse.java
C:\Users\ASUS Vivbook\Desktop\Resort\sudarshika\ocean-view-backend\src\main\java\com\example\ocean_view_backend\dto\response\RoomResponse.java
C:\Users\ASUS Vivbook\Desktop\Resort\sudarshika\ocean-view-backend\src\main\java\com\example\ocean_view_backend\dto\response\UserResponse.java
C:\Users\ASUS Vivbook\Desktop\Resort\sudarshika\ocean-view-backend\src\main\java\com\example\ocean_view_backend\dto\CreateUserRequest.java
C:\Users\ASUS Vivbook\Desktop\Resort\sudarshika\ocean-view-backend\src\main\java\com\example\ocean_view_backend\dto\LoginRequest.java
C:\Users\ASUS Vivbook\Desktop\Resort\sudarshika\ocean-view-backend\src\main\java\com\example\ocean_view_backend\dto\MessageResponse.java
C:\Users\ASUS Vivbook\Desktop\Resort\sudarshika\ocean-view-backend\src\main\java\com\example\ocean_view_backend\dto\ReservationRequest.java
C:\Users\ASUS Vivbook\Desktop\Resort\sudarshika\ocean-view-backend\src\main\java\com\example\ocean_view_backend\dto\ReservationResponse.java
C:\Users\ASUS Vivbook\Desktop\Resort\sudarshika\ocean-view-backend\src\main\java\com\example\ocean_view_backend\dto\ReservationStatusUpdate.java
C:\Users\ASUS Vivbook\Desktop\Resort\sudarshika\ocean-view-backend\src\main\java\com\example\ocean_view_backend\dto\RoomRequest.java
C:\Users\ASUS Vivbook\Desktop\Resort\sudarshika\ocean-view-backend\src\main\java\com\example\ocean_view_backend\dto\SignupRequest.java

C:\Users\ASUS Vivbook\Desktop\Resort\sudarshika\ocean-view-backend\src\main\java\com\example\ocean_view_backend\model\Customer.java
C:\Users\ASUS Vivbook\Desktop\Resort\sudarshika\ocean-view-backend\src\main\java\com\example\ocean_view_backend\model\ERole.java
C:\Users\ASUS Vivbook\Desktop\Resort\sudarshika\ocean-view-backend\src\main\java\com\example\ocean_view_backend\model\Reservation.java
C:\Users\ASUS Vivbook\Desktop\Resort\sudarshika\ocean-view-backend\src\main\java\com\example\ocean_view_backend\model\Room.java
C:\Users\ASUS Vivbook\Desktop\Resort\sudarshika\ocean-view-backend\src\main\java\com\example\ocean_view_backend\model\User.java

C:\Users\ASUS Vivbook\Desktop\Resort\sudarshika\ocean-view-backend\src\main\java\com\example\ocean_view_backend\repository\CustomerRepository.java
C:\Users\ASUS Vivbook\Desktop\Resort\sudarshika\ocean-view-backend\src\main\java\com\example\ocean_view_backend\repository\ReservationRepository.java
C:\Users\ASUS Vivbook\Desktop\Resort\sudarshika\ocean-view-backend\src\main\java\com\example\ocean_view_backend\repository\RoomRepository.java
C:\Users\ASUS Vivbook\Desktop\Resort\sudarshika\ocean-view-backend\src\main\java\com\example\ocean_view_backend\repository\UserRepository.java


C:\Users\ASUS Vivbook\Desktop\Resort\sudarshika\ocean-view-backend\src\main\java\com\example\ocean_view_backend\service\ImageUploadService.java
C:\Users\ASUS Vivbook\Desktop\Resort\sudarshika\ocean-view-backend\src\main\java\com\example\ocean_view_backend\service\ReservationService.java
C:\Users\ASUS Vivbook\Desktop\Resort\sudarshika\ocean-view-backend\src\main\java\com\example\ocean_view_backend\service\UserService.java