# IDE
.idea/
.vscode/
*.iws
*.iml
*.ipr

# Build
target/
build/
.mvn/wrapper/maven-wrapper.jar
bin/

# OS
.DS_Store
Thumbs.db
ehthumbs.db

# Environment
.env
.env.local
.env.*.local

### Ignore Backend Source Folders ###
 

### Ignore Specific Config Files (if you want to be more precise) ###
src/main/java/com/example/ocean_view_backend/config/AuthTokenFilter.java
src/main/java/com/example/ocean_view_backend/config/CorsConfig.java
src/main/java/com/example/ocean_view_backend/config/JwtUtils.java
src/main/java/com/example/ocean_view_backend/config/MongoConfig.java
src/main/java/com/example/ocean_view_backend/config/UserDetailsImpl.java
src/main/java/com/example/ocean_view_backend/config/UserDetailsServiceImpl.java

### Ignore Resources ###
src/main/resources/application*.properties
src/main/resources/application*.yml
src/main/resources/*.properties
!src/main/resources/application-sample.properties